.block{
    border: 1px solid red;
    text-align: center;
    vertical-align: middle;
}

body {
    background-color: rgb(241,240,240);
}
.header {
    font-family: 'Anton', sans-serif;
    size: 4.2rem;
}

/*h1 {*/
/*    font-family: Anton-Regular, sans-serif,*/
/*}*/

.navbar {
    background-color: rgb(241,240,240);
}

.red {
    background-color: #e6563b;
}
.green {
    background-color: #7CB06C;
}
.yellow {
    background-color: #EB9D3A;
}
.cyan {
    background-color: #00ABA9;
}
.light-gray {
    background-color: #F0F0F0;
}
.grey {
    background-color: #E6E6E6;
}
.circle{
    /*background: #e6563b;*/
    border-radius: 100%;
    color: white;
    height: 105px;
    font-weight: bold;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    border:5px solid white;
}
.icon{
    /*background: #e6563b;*/
    border-radius: 200px;
    color: black;
    height: 18px;
    font-weight: bold;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif;
}
.picdiv {
    width: 320px;

}
.small-icon {
    font-family: 'Anton', sans-serif;
}
/*.apple {*/
/*    border: 1px solid rgb(230,230,230);*/
/*}*/
/*img {*/
/*    border: 3px solid rgb(230, 229, 230);*/
/*}*/
.marg {
    margin: 3px;
}
@media screen and (max-width:576px) {
    .nav-item {
        display: none;
    }

    .header {
        justify-content: center;
    }

}

@media screen and (min-width:768px) { /* m */

}
@media screen and (min-width:992px) { /* l */ }
@media screen and (min-width:1200px) { /* xL */ }

