
body {
    background-color: rgb(241,240,240);
}
.header {
    font-family: 'Anton', sans-serif;
    size: 4.2rem;
}
.navbar {
    background-color: rgb(241,240,240);
}

.red {
    background-color: #e6563b;
}
.green {
    background-color: #7CB06C;
}
.yellow {
    background-color: #EB9D3A;
}
.cyan {
    background-color: #00ABA9;
}
.light-gray {
    background-color: #F0F0F0;
}
.grey {
    background-color: #E6E6E6;
}
.circle{
    /*background: #e6563b;*/
    border-radius: 100%;
    color: white;
    height: 105px;
    font-weight: bold;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif;
    border:5px solid white;
}
.icon{
    /*background: #e6563b;*/
    border-radius: 200px;
    color: black;
    height: 18px;
    font-weight: bold;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif;
}
.picdiv {
    width: 320px;
}
.small-icon {
    font-family: 'Anton', sans-serif;
}

.marg {
    margin: 3px;
}
@media screen and (min-width:576px) {
    .nav-item {
        display: none;
    }

    .header {
        justify-content: center;
    }

}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (min-width:576px) {
    body {
        background-color: orange;
    }
    .para {
        visibility: hidden;
    }
    #bluephone {
        visibility: hidden;
    }
    #last {
        visibility: hidden;
    }
    #allCirc {
        margin-left: 221px;
        width: 310px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    body {
        background-color: red
    }
    .para {
        visibility: hidden;
    }
    #bluephone {
        visibility: hidden;
    }
    #last {
        visibility: hidden;
    }
    #firstrow {
        height: 264px;
    }
    #allCirc {
        margin: 0 89px;
        width: 1296px;
        height: 169px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px) {
    body {
        background-color: blue;
    }
    #bluephone {
        visibility: visible;
    }
    .para {
        visibility: visible;
    }
    #allCirc {
        margin: 0 89px;
        width: 1296px;
        height: 169px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1200px) {
    #bluephone {
        visibility: visible;
    }
}
